<mat-toolbar color="primary">
  <span>My Sandbox</span>

  <span style="flex: 1 1 auto;"></span>

  <button color="basic"
    mat-flat-button
    [matMenuTriggerFor]="menu">Report a problem</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item
      (click)="takeScreenshot()">
      Take a screenshot
    </button>
    <button mat-menu-item
      (click)="recordVideo()">
      Record a video
    </button>
  </mat-menu>

</mat-toolbar>

<div style="width: 100%;">
  <cr-sample-grid></cr-sample-grid>
</div>
