<mat-toolbar mat-dialog-title
  color="basic"
  style="display: flex;">
  <p>Report a problem</p>
  <span style="flex: 1 1 auto"></span>
  <button mat-button
    mat-dialog-close>Cancel</button>
</mat-toolbar>

<mat-dialog-content>

  <mat-horizontal-stepper linear>

    <mat-step label="Attach screenshot"
      [editable]="false">
      <div style="display: flex; justify-content: center; width: 100%; flex-direction: column;">
        <div>
          <cr-screenshot [videoUrl]="data.videoUrl"></cr-screenshot>
        </div>
        <div style="text-align: center;">
          <button mat-raised-button
            color="primary"
            matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step label="General info"
      [editable]="false"
      [stepControl]="generalInfoForm">

      <div style="display: flex; justify-content: center; width: 100%; flex-direction: column; margin-top: 10px;">

        <div>
          <cr-general-info [form]="generalInfoForm"></cr-general-info>
        </div>

        <div style="text-align: center; ">
          <button mat-raised-button
            color="primary"
            matStepperNext>Next</button>
        </div>

      </div>

    </mat-step>

    <mat-step label="Create an issue"
      #gatherLogsStep
      [editable]="false">

      <div style="margin-top: 10px; margin-bottom: 10px; display: flex; justify-content: center;"
        *ngIf="inProgress">
        <mat-spinner diameter="20"></mat-spinner>
        <label>Preparing logs...</label>
      </div>

      <div style="margin-top: 10px; margin-bottom: 10px; display: flex; justify-content: center;"
        *ngIf="!inProgress">
        <mat-icon color="primary">done</mat-icon>
        <label style="margin-top: 3px;">Ticket successfully created!</label>
      </div>

      <div style="text-align: center;display: block;">
        <button mat-raised-button
          mat-dialog-close
          [disabled]="inProgress"
          color="primary">Close</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</mat-dialog-content>
